<%= simple_form_for @product do |f| %>

  <% if @product.errors.any? %>
    <ul>
      <% @product.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.input :name %>
  <%= f.input :description %>

  <%= f.submit %>
<% end %>