<!DOCTYPE html>
<html>
  <head>
    <title>Crm</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if flash[:notice] || flash[:alert] %>
        <div class="alert <%= flash[:notice] ? 'alert-success' : 'alert-danger' %>">
          <%= flash[:notice] || flash[:alert] %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
